footer {
  padding: 42px 0 52px 0;
  
  .menu {
    width: 50%;
    justify-content: space-between;
    margin: 0 auto;
  }

  .social {
    display: flex;
    justify-content: center;
    padding-top: 34px;
  
    &__item {
      width: 28px;
      height: 28px;
  
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }  
}
