@import "../global/variables";
@import "../global/mixins";

main {
  flex: 1;
  
  a {
    color: $blue-light;
  }
}

.opportunities {
  background: url(./img/main/Slide.png) no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: color;
  padding-bottom: 76px ;
}

.cards {
  display: flex;
  justify-content: center;
}

.card {
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), $white;
  padding: 28px 34px;
  width: calc(100% / 3 - 100px);

  p:nth-child(2) {
    margin: 11px 0;
  }
}

.card:not(:last-child) {
  margin-right: 30px;
}

.work {
  background: #F3FAFF;
}

.work__title {
  display: flex;
  justify-content: center;
  padding: 69px 0 52px;
}
