@import "../global/variables";

// Slider
.slick-slider {
  position: relative;
}

// Restricted shell
.slick-list {
  overflow: hidden;
  margin: -16px -15px;
}

// Slides band
.slick-track {
  display: flex;
}

// Slide
.slick-slide {
  background: $white;
  margin: 16px 15px;
  box-shadow: 0px 4px 16px 0px rgba(12, 47, 136, 0.25);


  .slider__description {
    padding: 19px 34px 27px 33px;

    p {
      padding: 6px 0 7px 0;
      color: $black-light;
    }
  }
}

// Arrow
.slick-arrow {
  position: absolute;
  top: 50%;
  margin: -100px 0 0 0;
  z-index: 1;
  font-size: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

// Left arrow
.slick-arrow.slick-prev {
  left: 0;
  background: url('../../../img/main/arrow-left.png') 0 0 /100% no-repeat;
}

// Right arrow
.slick-arrow.slick-next {
  right: 0;
  background: url('../../../img/main/arrow-right.png') 0 0 /100% no-repeat;
}

// Dots
.slick-dots {
  display: flex;
  justify-content: center;
  padding: 46px 0;
}

.slick-dots li {
  margin: 0 10px;
}

.slick-dots button {
  font-size: 0;
  width: 14px;
  height: 14px;
  background: rgba(63, 151, 251, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

.slick-dots li.slick-active button {
  background-color: $blue-light;
}
