@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

@import "./global/variables";
@import "./global/mixins";

@import "./components/modal";
@import "./components/header";
@import "./components/main";
@import "./components/footer";
@import "./components/social";
@import "./components/burger";

html {
  box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Noto Sans', sans-serif;
  @include font(400, 16px, 24px);
  color: $black-dark;
  letter-spacing: -0.015em;
  height: 100%
}

h1 {
  color: $white;
  padding: 85px 0 86px;
  @include font(700, 42px, 49px);
}

h2 {
  color: $blue-dark;
  @include font(600, 36px, 24px);
}

h3 {
  color: $blue-dark;
  @include font(600, 28px, 38px);
}

h4 {
  display: flex;
  justify-content: center;
  color: $blue-dark;
  @include font(600, 18px, 24px);
}

nav {
  @include font( "", 20px, 27px);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

a:hover, a:focus, a:active {
  opacity: .7;
}

img {
  width: 100%;
}

.menu {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
}

summary {
  display: inline-block;
  cursor: pointer;
  color: $blue-light;
}
